:root {
  /* Colors */
  --black: #030303;
  --text: #fdfcfd;
  --lucky-point: #25196b;
  --dodger-blue: #108ffe;
  --golden-sand: #f3d678;
  --boulder: #797979;
  --red: #cd0e47;
  --cyan-aqua: #03fcfe;
  --cioccolato: #5d370e;
  --electric-violet: #7a0bd6;
  --cinder: #09090f;
  --oriental-pink: #c7988c;
  --scooter: #31accc;
  --cyan: #22c3c1;
  --govermor-bay: #473eb3;
  --congo-brown: #5c3f41;
  --gigas: #3d349a;
  --don-juan: #59484c;
  --luxor-gold: #b27c2b;
  --cocoa-brown: #2e2022;
  --apache: #deb66c;

  /* Borders */

  /* Icons */

  /* Fonts */

  /* Transitions */

  /* Animations */
}
