.footer {
  width: 100%;
  border-top: 1px solid var(--red);
  background-color: var(--black-grey);
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__nav_link {
  font-size: 16px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: color 0.4s ease-in-out;
}

.footer__nav_link:hover {
  color: var(--cyan);
}

.footer__payment {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--black-grey);
}

.footer__payment_logo {
  padding: 10px 20px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.copyright-link {
  transition: opacity 0.4s ease-in-out;
}

.copyright-link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .footer__nav_link {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  footer .container {
    padding: 10px 80px;
  }
}

@media screen and (max-width: 768px) {
  .footer__payment_logo {
    width: auto;
    height: 36px;
    max-width: 100%;
  }
}