.header {
  width: 100%;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__log_btn, .header__reg_btn {
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
}

.header__log_btn:hover, .header__reg_btn:hover {
  opacity: 0.9;
}

.header__log_btn {
  background-color: var(--red);
  color: var(--white);
}

.header__reg_btn {
  background-color: var(--cyan);
}

.header__nav_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__nav_link {
  font-size: 18px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: color 0.4s ease-in-out;
}

.header__nav_link:hover {
  color: var(--cyan);
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {

}