<header class="header">
  <div class="header__container container">
    <div class="header__wrapper">
      <div class="header__logo_log_reg">
        <div class="header__logo">
          <a href="index.html">
            <img alt="Cosmobet Logo" src="./img/logo.png" width="120" />
          </a>
        </div>
        <div class="header__log_reg">
          <button class="header__log_button" type="button">Login</button>
          <button class="header__reg_button" type="button">Registration</button>
        </div>
      </div>
      <nav class="header__nav">
        <!-- Navigation menu, visible only on desktop -->
        <ul class="header__nav_list">
          <li>
            <a class="header__nav_link" href="#">Home</a>
          </li>
          <li>
            <a class="header__nav_link" href="#">Review</a>
          </li>
          <li>
            <a class="header__nav_link" href="#">Bonus</a>
          </li>
          <li>
            <a class="header__nav_link" href="#">Spins</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>