<main class="main ">
  <div class="content__container container">
    <section class="content__title">
      <h1>Cosmobet <span>Casino</span></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
    </section>
    <section class="content__banner">
      <div>
        <h2 class="content__banner_title_js">Free bonus !</h2>
        <button class="content__banner_btn_js" type="button">Get bonus</button>
      </div>
    </section>
    <section class="content__paragraph">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
    </section>
  </div>
</main>